/* Dropdown Button */
.dropbtn {
    background-color: rgb(126, 58, 52);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .products {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .products option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .products option:hover {
    background-color: #ddd;
}
 
  .dropdown:hover .products {
    display: block;
}

  .dropdown:hover .dropbtn {
    background-color: rgb(116, 69, 69);
}
/* Dropdown Button Styles end*/
/* Navbar Styles*/
.navbar {
    background-color: rgb(126, 58, 52);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .btns{
    background-color: rgb(183, 135, 135);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    text-decoration: none;
  }

  /* About Page*/ 
  .f-img,
  .k-img {
    width: 100px;
  }
