/* Dropdown Button */
.dropbtn {
    background-color: rgb(126, 58, 52);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .products {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .products option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .products option:hover {
    background-color: #ddd;
}
 
  .dropdown:hover .products {
    display: block;
}

  .dropdown:hover .dropbtn {
    background-color: rgb(116, 69, 69);
}
/* Dropdown Button Styles end*/
/* Navbar Styles*/
.navbar {
    background-color: #bf2a2a;
    color: white;
    padding: 16px;
    font-size: 1.6em;
    border: none;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    
  }
  .btns{
    background-color: rgb(183, 135, 135);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 10%;
  }
  .btns:hover{
    background-color: rgb(168, 225, 168);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 10%;
  }
  #donate{
    background-color: rgb(183, 135, 135);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    text-decoration: none;
    float: right;  
    border-radius: 10%; 
  }
  #donate:hover{
    background-color: rgb(168, 225, 168);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    text-decoration: none;
    float: right;  
    border-radius: 10%;
  }
  /* About Page*/ 
  #f-img,
  #k-img, 
  #h-img {
    aspect-ratio: 1;
    width: 500px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    border-radius: 2%;
    display: flex;
  }

  #mission {
    text-align: center;
  }

  #aboutDevLine {
    text-align: center;
  }

  #devSection {
    display: flex;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    animation-name: slideup;
    animation-duration: 2s;
  }
  @keyframes slideup{
    from {transform: translateY(300%)} 
  }

  #hiya,
  #kinza,
  #farheen {
    text-align: center;
    margin: auto;
    padding: 0px 20px 0px 20px;
  }

  .text1,
  .text2,
  .text3 {
    margin: auto;
    width: fit-content;
    height: 60px;

    /* background-color: #8fcfb1;
    border-radius: 5%;
    border-width: 5px;
    border-color: #1B4332;
    border-style: ridge;
    color: #1B4332; */
    
  }


  /* Fonts*/ 

  
  p,h3 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
    font-size: 18px;
  }

  h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-decoration: 3px underline;
    text-decoration-color: green;
    text-shadow: 2px 2px red;
  }
  
  .slogan{
    text-align: center;
  }

#logo{
  width: 15%;
  height: 30%;
}
   
/* Fonts End */ 
/* Main Page */ 

#shopping {
  font-size: 2em;
  text-align: center;
  margin: auto;
  background-color: rgb(168, 225, 168);
  border-color: #bf2a2a;
  border-width: 3px;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
}
#container{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 30px;
  padding: 10px;
}
#products {
  font-size: 1.5em;
  font-family: "DM Sans", sans-serif;
  background-color: rgb(168, 225, 168);
  width: 300px;
  border-width: 3px;
  border-color: #bf2a2a;
  border-radius: 10px;
}

#brands {
  font-size: 1.5em;
  font-family: "DM Sans", sans-serif;
  margin-top: 20px;
  background-color: rgb(168, 225, 168);
  width: 300px;
  border-width: 3px;
  border-color: #bf2a2a;
  border-radius: 10px;
}

.dropbtns {
  text-align: center;
  font-size: 1.6em;
}

.response {
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  background-color: black;
  border-color: #bf2a2a;
  border-width: 3px;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  color: #ddd;
  /* text-align: center;
  padding: 10px;
  font-size: 1.6em;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  background-color: rgb(168, 225, 168);
  width: 50px;
  border-width: 3px;
  border-color: #bf2a2a;
  border-radius: 10px;  */
}

#som{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 30px;
  padding: 10px;
}

body{
  position: relative;
  margin: 0 auto 0;
  padding-top: 0px;
}

#footer {
  font-family: "DM Sans", sans-serif;;
  text-align: center;
  background-color: #bf2a2a;
  margin-top: 800px;
  padding: 20px 0px 20px 0px;
  font-size: 1.5em;
}